$black: #000000;
$white: #ffffff;

/**
** red base gray
**/
$gray-100: #fafafa;
$gray-200: #b7b7b7;
$gray-300: #797878;
// 👇 only good for background in darkmode
$gray-400: #3f3f3f;
$gray-500: #0b0a0a;

/**
** RED
**/
$red-100: #da2d07;
$red-200: #b92b0b;
$red-300: #99280d;
// 👇 only good for background in darkmode
$red-400: #7b240e;
$red-500: #5d1f0e;

$orange-100: #da4607;
$orange-200: #b9400b;
$orange-300: #99390d;
// 👇 only good for background in darkmode
$orange-400: #7b320e;
$orange-500: #5d2a0e;

$brown-100: #da6c07;
$brown-200: #b95f0b;
$brown-300: #99530d;
$brown-400: #7b460e;
$brown-500: #5d3a0e;

$forest-100: #539d53;
$forest-200: #3e803e;
$forest-300: #29642a;
// 👇 only good for background in darkmode
$forest-400: #154a17;
$forest-500: #023102;