$black: #000000;
$white: #ffffff;

/**
** red base gray
**/
$gray-100: #e5dcdc;
$gray-200: #cfc0c0;
$gray-300: #b7a5a5;
$gray-400: #9f8b8b;
$gray-500: #867272;
$gray-600: #695c5c;
$gray-700: #4d4646;
$gray-800: #322f2f;

/**
** RED
**/
$red-100: #e00000;
$red-200: #c00b0b;
$red-300: #a31414;
$red-400: #881b1b;
$red-500: #6f2020;
// 👇 text in light mode or background in darkmode
$red-600: #582222;
$red-700: #442222;
$red-800: #322020;

$yellow-100: #e0e000;
$yellow-200: #c0c00b;
$yellow-300: #a3a314;
$yellow-400: #88881b;
$yellow-500: #6f6f20;
// 👇 text in light mode or background in darkmode
$yellow-600: #585822;
$yellow-700: #444422;
$yellow-800: #323220;

$brown-100: #da6c07;
$brown-200: #b95f0b;
$brown-300: #99530d;
$brown-400: #7b460e;
$brown-500: #5d3a0e;

$forest-100: #539d53;
$forest-200: #3e803e;
$forest-300: #29642a;
// 👇 only good for background in darkmode
$forest-400: #154a17;
$forest-500: #023102;