$black: #000000;
$white: #ffffff;

/**
** red base gray
**/
$gray-100: #fafafa;
$gray-200: #b7b7b7;
$gray-300: #797878;
$gray-400: #3f3f3f;
$gray-500: #0b0a0a;

/**
** RED
**/
$red-100: #ff1414;
$red-200: #ce1d22;
$red-300: #9d2327;
$red-400: #6d2526;
$red-500: #3d2121;

$blue: blue;