**html {
  font-size: $type-base-size;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: $main-bg;
  color: $body-color;
  fill: currentColor;
  line-height: $base-line-height;
}

@media screen and (min-width: 100px) {
  #write {
    max-width: $type-width;
  }
}

// 700px and up
@media screen and (min-width: $media-small) {
}

// 960px
@media screen and (min-width: $media-med) {
  #write {
    max-width: 1024px;
  }
}

@media screen and (min-width: $media-large) {
  #write {
    max-width: 1200px;
  }
}
@media screen and (min-width: $media-xlarge) {
}

// @media only screen and (min-width: 1400px) {

// }

// @media only screen and (min-width: 1800px) {

// }

html,
body,
button,
input,
select,
textarea,
div.code-tooltip-content {
  color: $body-color;
  border-color: transparent;
}

div.code-tooltip,
.md-hover-tip .md-arrow:after {
  background: $gray-800;
}

.native-window #md-notification {
  border: 1px solid $gray-200;
}

.popover.bottom > .arrow:after {
  border-bottom-color: $gray-800;
}

html,
body,
button,
input,
select,
textarea {
  font-family: $base-family;
}

hr {
  height: 2px;
  border: 0;
  margin: 24px 0 !important;
}


@media (min-width: 980px) {
  h3.md-focus:before,
  h4.md-focus:before,
  h5.md-focus:before,
  h6.md-focus:before {
    color: $gray-300;
    border: 1px solid $gray-300;
    border-radius: 3px;
    position: absolute;
    left: -1.642857143rem;
    top: 0.357142857rem;
    float: left;
    font-size: 9px;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: bottom;
    font-weight: normal;
    line-height: normal;
  }

  h3.md-focus:before {
    content: "h3";
  }

  h4.md-focus:before {
    content: "h4";
  }

  h5.md-focus:before {
    content: "h5";
    top: 0px;
  }

  h6.md-focus:before {
    content: "h6";
    top: 0px;
  }
}

a {
  text-decoration: none;
  outline: 0;
}

a:hover {
  outline: 0;
}

a:focus {
  outline: thin dotted;
}

sup.md-footnote {
  background: $gray-300;
  color: $gray-200;
}

p {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

p,
ul,
dd,
ol,
hr,
address,
pre,
table,
iframe,
.wp-caption,
.wp-audio-shortcode,
.wp-video-shortcode {
  @include mt-0;
  @include mb-1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}
/**
** Color for Text Selection highlighting
**/
::-moz-selection {
  background: $accent-color;
  opacity: 0.8;
  color: $gray-200;
  text-shadow: none;
}

*.in-text-selection,
::selection {
  background: $accent-color;
  color: $gray-200;
  text-shadow: none;
}

ul,
ol {
  padding: 0 0 0 1.875rem;
  /* 30px */
}

ul {
  list-style: square;
}

ol {
  list-style: decimal;
}

ul ul,
ol ol,
ul ol,
ol ul {
  @include ma-0;
}

b,
th,
dt,
strong {
  font-weight: bold;
}

i,
em,
dfn,
cite {
  font-style: italic;
}

blockquote {
  padding-left: $space-2;
  padding-top: $space-2;
  padding-bottom: $space-2;
  margin: 0 0 $space-1 $space-1;
  border-left: solid 2px $blockquote-border;
  margin-top: $space-1;
  color: $blockquote-color;
  background-color: $blockquote-bg;
}

pre,
code,
kbd,
tt,
var {
  font-size: 0.875em;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

code,
tt,
var {
  background: rgba(0, 0, 0, 0.05);
}

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: $white;
  background: $gray-800;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

pre.md-fences {
  padding: 10px 10px 10px 30px;
  margin-bottom: 20px;
  background: $gray-800;
}

.CodeMirror-gutters {
  background: $gray-800;
  border-right: 1px solid transparent;
}

.enable-diagrams pre.md-fences[lang="sequence"] .code-tooltip,
.enable-diagrams pre.md-fences[lang="flow"] .code-tooltip,
.enable-diagrams pre.md-fences[lang="mermaid"] .code-tooltip {
  bottom: -2.2em;
  right: 4px;
}

code,
kbd,
tt,
var {
  padding: 2px 5px;
}

table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 5px 10px;
  vertical-align: top;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

hr {
  background: $gray-300;
  /* variable */
}

h1 {
  margin-top: 2em;
}

a {
  color: $gray-200;
  text-decoration: underline;
}

a:hover {
  color: $white;
}

.md-inline-math script {
  color: #81b1db;
}

b,
th,
dt,
strong {
  color: $strong-color;
  /* variable */
}

mark {
  background: rgba($mark-color, 40%);
}



table a {
  color: $gray-200;
  /* variable */
}

th,
td {
  border: solid 1px $gray-400;
  /* variable */
}

.task-list {
  padding-left: 0;
}

.md-task-list-item {
  padding-left: 1.25rem;
}

.md-task-list-item > input {
  top: auto;
}

.md-task-list-item > input:before {
  content: "";
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  vertical-align: middle;
  text-align: center;
  border: 1px solid $gray-300;
  background: transparent;
  margin-top: -0.4rem;
}

.md-task-list-item > input:checked:before,
.md-task-list-item > input[checked]:before {
  content: "\221A";
  /*◘*/
  font-size: 0.625rem;
  line-height: 0.625rem;
  color: $gray-200;
}

/** quick open **/
.auto-suggest-container {
  border: 0px;
  background: $main-bg;
}

#typora-quick-open {
  background: $main-bg;
}

#typora-quick-open input {
  background: $main-bg;
  border: 0;
  border-bottom: 1px solid $gray-400;
}

.typora-quick-open-item {
  background: inherit;
  color: inherit;
}

.typora-quick-open-item.active,
.typora-quick-open-item:hover {
  background: #4d8bdb;
  color: white;
}

.typora-quick-open-item:hover {
  background: rgba(77, 139, 219, 0.8);
}

.typora-search-spinner > div {
  background: $white;
}

#write pre.md-meta-block {
  border-bottom: 1px dashed #ccc;
  background: transparent;
  padding-bottom: 0.6em;
  line-height: 1.6em;
}

.btn,
.btn .btn-default {
  background: transparent;
  color: $gray-300;
}

.ty-table-edit {
  border-top: 1px solid gray;
  background: $gray-400;
}

.popover-title {
  background: transparent;
}

.md-image > .md-meta {
  color: $gray-300;
  background: transparent;
}

.md-expand.md-image > .md-meta {
  color:$gray-300;
}

#write > h3:before,
#write > h4:before,
#write > h5:before,
#write > h6:before {
  border: none;
  border-radius: 0px;
  color: $gray-400;
  text-decoration: underline;
  left: -1.4rem;
  top: 0.2rem;
}

#write > h3.md-focus:before {
  top: 2px;
}

#write > h4.md-focus:before {
  top: 2px;
}

.md-toc-item {
  color: #a8c2dc;
}

#write div.md-toc-tooltip {
  background: $gray-400;
}

.dropdown-menu .btn:hover,
.dropdown-menu .btn:focus,
.md-toc .btn:hover,
.md-toc .btn:focus {
  color: white;
  background: black;
}

#toc-dropmenu {
  background: rgba($gray-300, 10%);;
  border: 1px solid rgba(253, 253, 253, 0.15);
}

#toc-dropmenu .divider {
  background: #9b9b9b;
}

.outline-expander:before {
  top: 2px;
}

#typora-sidebar {
  box-shadow: none;
  border-right: 1px dashed;
  border-right: none;
  background: $sidebar-bg;
}

.sidebar-tabs {
  border-bottom: 0;
}

#typora-sidebar:hover .outline-title-wrapper {
  border-left: 1px dashed;
}

.outline-title-wrapper .btn {
  color: inherit;
}

.outline-item:hover {
  border-color: $gray-400;
  background: $gray-400;
  color: white;
}

h1.md-focus .md-attr,
h2.md-focus .md-attr,
h3.md-focus .md-attr,
h4.md-focus .md-attr,
h5.md-focus .md-attr,
h6.md-focus .md-attr,
.md-header-span .md-attr {
  color: #8c8e92;
  display: inline;
}

.md-comment {
  color: #5a95e3;
  opacity: 0.8;
}

.md-inline-math svg {
  color: $gray-300;
}

#math-inline-preview .md-arrow:after {
  background: black;
}

.modal-content {
  background: $main-bg;
  border: 0;
}

.modal-title {
  font-size: 1.5em;
}

.modal-content input {
  background: rgba(26, 21, 21, 0.51);
  color: white;
}

.modal-content .input-group-addon {
  color: white;
}

.modal-backdrop {
  background: rgba(174, 174, 174, 0.7);
}

.modal-content .btn-primary {
  border-color: $red-300;
}

.md-table-resize-popover {
  background: $gray-800;
}

.form-inline .input-group .input-group-addon {
  color: white;
}

#md-searchpanel {
  border-bottom: 1px dashed $gray-400;
}

/** UI for electron */

.context-menu,
#spell-check-panel,
#footer-word-count-info {
  background: $gray-800;
}

.context-menu.dropdown-menu .divider,
.dropdown-menu .divider {
  background: $gray-800;
  opacity: 1;
}

footer {
  color: inherit;
}

@media (max-width: 1000px) {
  footer {
    border-top: none;
  }
  footer:hover {
    color: inherit;
  }
}

#file-info-file-path .file-info-field-value:hover {
  background: $gray-800;
  color: $gray-100;
}

.megamenu-content,
.megamenu-opened header {
  background: $main-bg;
}

.megamenu-menu-panel h2,
.megamenu-menu-panel h1,
.long-btn {
  color: inherit;
}

.megamenu-menu-panel input[type="text"] {
  background: inherit;
  border: 0;
  border-bottom: 1px solid;
}

#recent-file-panel-action-btn {
  background: inherit;
  border: 1px $gray-400 solid;
}

.megamenu-menu-panel .dropdown-menu > li > a {
  color: inherit;
  background: #2f353a;
  text-decoration: none;
}

.megamenu-menu-panel table td:nth-child(1) {
  color: inherit;
  font-weight: bold;
}

.megamenu-menu-panel tbody tr:hover td:nth-child(1) {
  color: white;
}

.modal-footer .btn-default,
.modal-footer .btn-primary,
.modal-footer .btn-default:not(:hover) {
  border: 1px solid;
  border-color: transparent;
}

.btn-primary {
  color: white;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: white;
  border: 1px solid$gray-300;
  background: inherit;
}

.modal-header {
  border-bottom: 0;
}

.modal-footer {
  border-top: 0;
}

#recent-file-panel tbody tr:nth-child(2n-1) {
  background: transparent !important;
}

.megamenu-menu-panel tbody tr:hover td:nth-child(2) {
  color: inherit;
}

.megamenu-menu-panel .btn {
  border: 1px solid $gray-100;
  background: transparent;
}

.mouse-hover .toolbar-icon.btn:hover,
#w-full.mouse-hover,
#w-pin.mouse-hover {
  background: inherit;
}

.typora-node::-webkit-scrollbar {
  width: 5px;
}

.typora-node::-webkit-scrollbar-thumb:vertical {
  background: rgba(250, 250, 250, 0.3);
}

.typora-node::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(250, 250, 250, 0.5);
}

#w-unpin {
  background: #4182c4;
}

#top-titlebar,
#top-titlebar * {
  color: $red-300;
}

.typora-sourceview-on #toggle-sourceview-btn,
#footer-word-count:hover,
.ty-show-word-count #footer-word-count {
  background: $gray-400;
}

#toggle-sourceview-btn:hover {
  color: $gray-100;
  background: $gray-800;
}

/** focus mode */
.on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container) * {
  color: $gray-300 !important;
}

.on-focus-mode .md-end-block:not(.md-focus) img,
.on-focus-mode .md-task-list-item:not(.md-focus-container) > input {
  opacity: $gray-300 !important;
}

.on-focus-mode li[cid]:not(.md-focus-container) {
  color: $gray-200;
}

.on-focus-mode
  .md-fences.md-focus
  .CodeMirror-code
  > *:not(.CodeMirror-activeline)
  *,
.on-focus-mode .CodeMirror.cm-s-inner:not(.CodeMirror-focused) * {
  color: $gray-300 !important;
}

.on-focus-mode .md-focus,
.on-focus-mode .md-focus-container {
  color: $white;
}

.on-focus-mode
  #typora-source
  .CodeMirror-code
  > *:not(.CodeMirror-activeline)
  * {
  color: $gray-300 !important;
}

/*diagrams*/
#write .md-focus .md-diagram-panel {
  border: 1px solid$gray-300;
  margin-left: -1px;
  width: calc(100% + 2px);
}

/*diagrams*/
#write .md-focus.md-fences-with-lineno .md-diagram-panel {
  margin-left: auto;
}

.md-diagram-panel-error {
  color: #f1908e;
}

.active-tab-files #info-panel-tab-file,
.active-tab-files #info-panel-tab-file:hover,
.active-tab-outline #info-panel-tab-outline,
.active-tab-outline #info-panel-tab-outline:hover {
  color: $gray-100;
}

.sidebar-footer-item:hover,
.footer-item:hover {
  background: inherit;
  color: white;
}

.ty-side-sort-btn.active,
.ty-side-sort-btn:hover,
.selected-folder-menu-item a:after {
  color: white;
}

#sidebar-files-menu {
  border: solid 1px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.79);
  background: $main-bg;
}

.file-list-item {
  border-bottom: none;
}

.file-list-item-summary {
  opacity: 1;
}

.file-list-item.active:first-child {
  border-top: none;
}

.file-node-background {
  height: 32px;
}

.file-node-content {
  color: $gray-300;
  &:hover {
    color: $gray-200;
  }
}

.file-library-node.active > .file-node-content,
.file-list-item.active {
  color: $gray-200;

}

.file-library-node.active > .file-node-background {
  background: rgb(34, 34, 34);
  background: $red-500
}
.file-list-item.active {
  background: rgb(34, 34, 34);
  background: $red-500
}

#ty-tooltip {
  background: black;
  color: $gray-100;
}

.md-task-list-item > input {
  margin-left: -1.3em;
  margin-top: 0.3rem;
  -webkit-appearance: none;
}

.md-mathjax-midline {
  background: $gray-300;
  border-bottom: none;
}

footer.ty-footer {
  border-color: $gray-400
}

.ty-preferences .btn-default {
  background: transparent;
}
.ty-preferences .btn-default:hover {
  background: $gray-300;
}

.ty-preferences select {
  border: 1px solid $gray-400;
  height: 21px;
}

.ty-preferences .nav-group-item.active,
.export-item.active,
.export-items-list-control,
.export-detail {
  background: $red-500
}

.ty-preferences input[type="search"] {
  border-color: $gray-800;
  background: $gray-800;
  line-height: 22px;
  border-radius: 6px;
  color: white;
}

.ty-preferences input[type="search"]:focus {
  box-shadow: none;
}

[data-is-directory="true"] .file-node-content {
  margin-bottom: 0;
}

.file-node-title {
  line-height: 22px;
}

.html-for-mac .file-node-open-state,
.html-for-mac .file-node-icon {
  line-height: 26px;
}

::-webkit-scrollbar-thumb {
  background: rgba(230, 230, 230, 0.3);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(230, 230, 230, 0.5);
}

#typora-sidebar:hover
  div.sidebar-content-content::-webkit-scrollbar-thumb:horizontal {
  background: rgba(230, 230, 230, 0.3);
}

.nav-group-item:active {
  background: $gray-400 !important;
}

.md-search-hit {
  background: rgba(199, 140, 60, 0.81);
  color: $gray-100;
}

.md-search-hit * {
  color: $gray-100;
}

#md-searchpanel input {
  color: white;
}

.modal-backdrop.in {
  opacity: 1;
  backdrop-filter: blur(1px);
}

.clear-btn-icon {
  top: 8px;
}

/* try fix https://github.com/typora/typora-issues/issues/5253 */
.file-node-expanded > .file-node-children {
  display: grid;
}

.md-alert-text-note {
  color: rgb(47, 129, 247);
}
.md-alert-text-important {
  color: rgb(163, 113, 247);
}
.md-alert-text-warning {
  color: rgb(210, 153, 34);
}
