$white : #FFFFFF;
$black: #000000;
$gray-100: #F4F4F5;
$gray-200: #EBEBEC;
$gray-300: #D7D7D7;
$gray-400: #ACACAF;
$gray-500: #7F7F84;
$gray-600: #525254;
$gray-700: #38383A;
$gray-800: #1D1D1E;
$gray-900 : #0A0A0A;

$red-100: #d80707;
$red-200: #c30c12;
$red-300: #ae1117;
$red-400: #98161b;
$red-500: #83191c;
$red-600: #6e1a1d;
$red-700: #591b1c;
$red-800: #441a1b;
$red-900: #2f1818;

