
$leading-none: 1;
$leading-tight: 1.25;
$leading-snug: 1.375;
$leading-normal: 1.5;
$leading-relaxed:	1.625;
$leading-loose: 2;
/**
**
** Type Mixen
**/
@mixin headerType($header-family, $header-line-height, $header-weight) {

  .display,
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    font-family: $header-family;
    line-height: $header-line-height;
    margin: 0px;
    font-weight: $header-weight;
  }
}



/**
**
** Type Scale Sizes Mixen
**/
@mixin xxl {
  font-size: $type-base-size * $type-scaler * $type-scaler * $type-scaler * $type-scaler * $type-scaler * $type-scaler;
}

@mixin xl {
  font-size: $type-base-size * $type-scaler * $type-scaler * $type-scaler * $type-scaler * $type-scaler;
}

@mixin lg {
  font-size: $type-base-size * $type-scaler * $type-scaler * $type-scaler * $type-scaler;
}

@mixin md {
  font-size: $type-base-size * $type-scaler * $type-scaler * $type-scaler;
}

@mixin sm {
  font-size: $type-base-size * $type-scaler * $type-scaler;
}

@mixin xs {
  font-size: $type-base-size;
}

@mixin xxs {
  font-size: $type-base-size;
}

@mixin char__readable($type-width) {
  // max-width: $type-width;
}

/**
**
**
**/
@mixin typeScales($header-base-size, $type-scaler) {
  .display {
    font-size: $header-base-size * $type-scaler * $type-scaler * $type-scaler * $type-scaler * $type-scaler * $type-scaler * $type-scaler;
  }


  h1,
  .h1,
  .exa {
    font-size: $header-base-size * $type-scaler * $type-scaler * $type-scaler * $type-scaler * $type-scaler * $type-scaler;
  }

  h2,
  .h2,
  .peta {
    font-size: $header-base-size * $type-scaler * $type-scaler * $type-scaler * $type-scaler * $type-scaler;
  }

  h3,
  .h3,
  .tera {
    font-size: $header-base-size * $type-scaler * $type-scaler * $type-scaler * $type-scaler;
  }

  h4,
  .h4,
  .giga {
    font-size: $header-base-size * $type-scaler * $type-scaler * $type-scaler;
  }

  h5,
  .h5,
  .mega {
    font-size: $header-base-size * $type-scaler * $type-scaler;
  }

  .kilo-1 {
    font-size: $header-base-size * $type-scaler;
  }

  h6,
  .h6,
  .kilo {
    font-size: $header-base-size * $type-scaler;
  }

  .body {
    &__large {
      font-size: $type-base-size * $type-scaler;
    }

    &__default {
      font-size: $type-base-size;
    }

    &__small {
      font-size: $type-base-size * .8;
    }
  }

  .micro {
    font-size: 0.5rem;
  }

  .milli {
    font-size: calc($header-base-size / $type-scaler);
  }
}
